.container
	.row.header
		.col.text-center
			h1 Dark Planet
			small Three Js
.container
	.row.footer
		.col
			a(href='https://victorvergara.co/', target='_blank')
				img(src='http://victorvergara.co/src/logo.svg')
canvas#canvas